.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding: 10px 50px;
  text-transform: uppercase;
  background-color: black;
  color: white;
}

.Header a {
  color: white;
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  gap: 30px;
}


/* .nav > div {
  margin-right: auto;
} */
