:root {
  font-size: 16px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  text-transform: uppercase;
  background-color: black;
  width: 100%;
  color: white;
}

.Header a {
  color: white;
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  gap: 1rem;
}


/* .nav > div {
  margin-right: auto;
} */
