/* .Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} */

/* .card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
} */

/* .card > img {
  border-radius: 10px;
} */

/* .card h2,
.card p {
  text-align: left;
} */

/* .card h2 {
  margin: 8px 10px 4px 10px;
}

.card p {
  margin: 4px 10px 20px 10px;
} */

/* .btns-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
} */
