/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-lg px-8 py-2 text-base font-medium;
  }
  .btn-primary {
    @apply bg-sky-700 hover:bg-sky-800 text-sky-50;
  }
  .btn-secondary {
    @apply bg-sky-200 hover:bg-sky-300 text-sky-900;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  /* font-weight: 500; */
  /* font-family: inherit; */
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
