/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* standard button */
  .btn {
    @apply rounded-lg px-6 py-2 font-semibold cursor-pointer;
  }
  /* large button */
  .btn-lg {
    @apply rounded-lg px-12 py-4 text-xl font-bold cursor-pointer;
  }
  /* primary button */
  .btn-primary {
    @apply bg-sky-700 hover:bg-sky-600 text-sky-50;
  }
  /* secondary button */
  .btn-secondary {
    @apply bg-sky-200 border border-sky-900 hover:bg-sky-600 text-sky-900 hover:text-sky-50;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */